* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #f6f6c9, #bccef8);
}

.title {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: 100px;
  height: 100px;
  border: solid 1px #553939;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: #000;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  position: absolute;
  content: "";
  width: calc(calc(100px * 0.9) * 0.15);
  height: calc(100px * 0.9);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  position: absolute;
  content: "";
  border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: calc(100px * 0.9);
  height: calc(100px * 0.9);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(calc(100px * 0.9) * 0.7);
  height: calc(calc(100px * 0.9) * 0.7);
  background: linear-gradient(to right, #f6f6c9, #bccef8);
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 3rem;
  display: none;
}

.message.show {
  display: flex;
}

.message-text {
  color: #fff;
}

.btn-restart {
  padding: 0.25em 0.5em;
  background-color: #553939;
  color: #fff;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 3rem;
}

.btn-restart:hover {
  background-color: #000;
}
